{
  "openapi": "3.1.0",
  "info": {
    "title": "Data Center Training — Public Content API",
    "description": "Read-only informational endpoints exposing Data Center Training's course catalog and AI-agent context documents. All resources are static, publicly readable, and require no authentication.",
    "version": "1.0.0",
    "contact": {
      "email": "info@hazwoper-osha.com",
      "url": "https://datacentertraining.us/"
    }
  },
  "servers": [
    {
      "url": "https://datacentertraining.us"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getHomepage",
        "summary": "Homepage",
        "description": "Site overview and links to the course catalog, bundles, role guide, certifications, and FAQ, with EducationalOrganization/LocalBusiness/WebSite JSON-LD.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/courses.html": {
      "get": {
        "operationId": "getCourseCatalog",
        "summary": "Course catalog",
        "description": "All 44 courses with search, sort, and filter by track, tier, duration, or price. Includes ItemList JSON-LD.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/bundles.html": {
      "get": {
        "operationId": "getBundles",
        "summary": "Course bundles",
        "description": "7 role-based and complete-catalog bundles, up to 53% off individual course pricing.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/who.html": {
      "get": {
        "operationId": "getWhoItsFor",
        "summary": "Role-based course guide",
        "description": "Recommended course tracks by role: electricians, HVAC technicians, operations managers, security officers, engineers, and IT/network technicians.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/certifications.html": {
      "get": {
        "operationId": "getCertifications",
        "summary": "Certifications & accreditations",
        "description": "IACET accreditation, BBB, Trustpilot, and Google review links, plus what a certificate of completion does and doesn't mean.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/faq.html": {
      "get": {
        "operationId": "getFaq",
        "summary": "Frequently asked questions",
        "description": "Common questions about programs, pricing, bundles, and certificates. Includes FAQPage JSON-LD.",
        "responses": {
          "200": {
            "description": "HTML document",
            "content": { "text/html": {} }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "AI agent context summary",
        "description": "Concise Markdown summary of the site for AI agents, per the llms.txt convention.",
        "responses": {
          "200": {
            "description": "Markdown document",
            "content": { "text/markdown": {} }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "operationId": "getLlmsFullTxt",
        "summary": "Full course catalog in Markdown",
        "description": "Complete list of all 44 courses grouped by discipline, with links and standards alignment.",
        "responses": {
          "200": {
            "description": "Markdown document",
            "content": { "text/markdown": {} }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "operationId": "getSitemap",
        "summary": "XML sitemap",
        "description": "Complete list of indexable course and site pages.",
        "responses": {
          "200": {
            "description": "XML sitemap",
            "content": { "application/xml": {} }
          }
        }
      }
    }
  }
}
